{"openapi": "3.1.0", "info": {"title": "ChessDB 实战妙手 API", "version": "1.0.0", "description": "精选中国棋手及经典比赛中经引擎复核成立的实战妙手数据接口。", "license": {"name": "CC BY 4.0 / CC BY-SA 4.0", "url": "https://chessdb.aigclabs.cc/methodology"}}, "servers": [{"url": "https://chessdb.aigclabs.cc"}, {"url": "https://china-chess-player-pgn.pages.dev"}], "paths": {"/api/v1/brilliancies/manifest.json": {"get": {"summary": "妙手数据集元信息与分片清单", "operationId": "getBrillianciesManifest", "responses": {"200": {"description": "成功返回元数据与分片清单", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Manifest"}}}}}}}, "/api/v1/brilliancies": {"get": {"summary": "获取妙手列表（支持筛选与分页）", "operationId": "listBrilliancies", "parameters": [{"name": "limit", "in": "query", "schema": {"type": "integer", "default": 20, "maximum": 100}}, {"name": "cursor", "in": "query", "schema": {"type": "string"}}, {"name": "player", "in": "query", "schema": {"type": "string"}, "description": "棋手 FIDE ID（如 fide-8602980）"}, {"name": "theme", "in": "query", "schema": {"type": "string"}, "description": "妙手战术主题（如 queen-sacrifice）"}, {"name": "event", "in": "query", "schema": {"type": "string"}, "description": "赛事 ID"}, {"name": "sort", "in": "query", "schema": {"type": "string", "enum": ["featured", "newest"], "default": "featured"}}, {"name": "snapshot", "in": "query", "schema": {"type": "string"}, "description": "快照一致性校验参数"}], "responses": {"200": {"description": "妙手摘要列表", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ItemListResponse"}}}}, "400": {"description": "参数校验失败"}, "409": {"description": "快照已过期（snapshot_changed）"}}}}, "/api/v1/brilliancies/{id}.json": {"get": {"summary": "获取单条妙手完整详情与引擎验证变化", "operationId": "getBrilliancyDetail", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "snapshot", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "完整妙手对象", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BrilliancyDetail"}}}}, "404": {"description": "条目不存在"}, "410": {"description": "条目已被审核撤回（withdrawn）"}}}}, "/api/v1/brilliancies/{id}.pgn": {"get": {"summary": "获取带注释的妙手片段 PGN", "operationId": "getBrilliancyPgn", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "PGN 格式棋谱片段", "content": {"application/x-chess-pgn": {"schema": {"type": "string"}}}}, "404": {"description": "条目不存在"}}}}}, "components": {"schemas": {"Manifest": {"type": "object", "required": ["schemaVersion", "snapshotId", "total", "themes", "shards"], "properties": {"schemaVersion": {"type": "integer"}, "snapshotId": {"type": "string"}, "total": {"type": "integer"}, "themes": {"type": "array", "items": {"type": "string"}}, "engineVersion": {"type": "string"}, "ruleVersion": {"type": "string"}, "shards": {"type": "array", "items": {"type": "string"}}, "shardPrefixLength": {"type": "integer", "enum": [1, 2]}, "pgnLayout": {"type": "string", "enum": ["files", "shards"]}, "scanCoverage": {"type": "object"}}}, "ItemListResponse": {"type": "object", "required": ["schemaVersion", "snapshotId", "total", "items", "nextCursor"], "properties": {"schemaVersion": {"type": "integer"}, "snapshotId": {"type": "string"}, "total": {"type": "integer"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/ItemSummary"}}, "nextCursor": {"type": ["string", "null"]}}}, "ItemSummary": {"type": "object", "required": ["id", "title", "summary", "white", "black", "position", "move", "themes", "links"], "properties": {"id": {"type": "string"}, "title": {"type": "string"}, "summary": {"type": "string"}, "white": {"type": "object"}, "black": {"type": "object"}, "position": {"type": "object"}, "move": {"type": "object"}, "themes": {"type": "array", "items": {"type": "string"}}, "links": {"type": "object"}}}, "BrilliancyDetail": {"type": "object", "required": ["id", "schemaVersion", "game", "white", "black", "position", "move", "classification", "verification", "links"], "properties": {"id": {"type": "string"}, "schemaVersion": {"type": "integer"}, "snapshotId": {"type": "string"}, "title": {"type": "string"}, "summary": {"type": "string"}, "explanation": {"type": "string"}, "game": {"type": "object"}, "event": {"type": "object"}, "white": {"type": "object"}, "black": {"type": "object"}, "position": {"type": "object"}, "move": {"type": "object"}, "classification": {"type": "object"}, "themes": {"type": "array", "items": {"type": "string"}}, "verification": {"type": "object"}, "actualContinuationUci": {"type": "array", "items": {"type": "string"}}, "actualContinuationSan": {"type": "array", "items": {"type": "string"}}, "analysisLines": {"type": "array", "items": {"type": "object"}}, "links": {"type": "object"}, "status": {"type": "string", "enum": ["published", "withdrawn"]}}}}}}
